<div class="panel-body panel-height">
  <table class="table table-bordered">
   <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
      <th colspan="4">Actions</th>
    </tr>
   </thead>
   <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'All Version', post_versions_path(post) %></td>
      </tr>
    <% end %>  
   </tbody>
  </table>
    <br></br>
</div>
